<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header.ejs') %>
    <title>Reset password</title>
</head>

<body>
    <div class="d-flex align-items-center" style="min-height: 100vh">
        <div class="px-5 mx-auto align-middle">
            <% if (isSuccess) { %>
            <div>
                <h3 class="text-center text-muted">Berhasil mengganti password</h3>
                <p class="text-center">Buka aplikasi dan coba masuk dengan password baru</p>
            </div>
            <% } else { %>
            <div>
                <h3 class="text-center text-muted">Gagal mereset password</h3>
                <p class="text-center">Link mungkin telah expired atau token yang anda masukkan tidak valid</p>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>