<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header.ejs') %>
    <title>Reset Password</title>
</head>

<body>
    <div class="d-flex align-items-center" style="min-height: 100vh">
        <!-- <h1 class="text-center">Reset Password</h1> -->
        <div class="px-5 mx-auto align-middle">
            <div class="mb-3">
                <h3 class="text-center text-muted">Reset password anda</small></h3>
                <p class="text-center">
                    Halo
                    <strong class="text-primary">Dean</strong>
                    tolong masukkan password baru anda untuk mereset password
                </p>
            </div>
            <form id="form" action="./reset-password" method="post">
                <input class="d-none" type="text" name="superToken" value="<%= token %>" />
                <div class="mb-3">
                    <label for="new-password" class="form-label">Password baru</label>
                    <input type="password" id="new-password" class="form-control" aria-describedby="helpPassword">
                    <div id="help-password" class="form-text">Password setidaknya memiliki 8 huruf</div>
                    <div class="invalid-feedback">
                        Masukkan setidaknya 8 huruf
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password-confirmation" class="form-label">Konfirmasi password</label>
                    <input type="password" name="password" id="password-confirmation" class="form-control"
                        aria-describedby="helpConfirmPassowrd">
                    <div id="helpConfirmPassword" class="form-text">Ulangi password yang telah anda masukkan</div>
                    <div class="invalid-feedback">
                        Password tidak sesuai
                    </div>
                </div>
                <div class="d-grid mt-5">
                    <button disabled class="btn btn-primary" id="submit-button">
                        <div class="spinner-border spinner-border-sm d-none" id="spinner"></div>
                        Konfirmasi
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        let isValidated = false
        const token = '<%= token %>'
        const $form = document.getElementById('form')
        const $spinner = document.getElementById('spinner')
        const $submitButton = document.getElementById('submit-button')
        const $newPasswordHelp = document.getElementById('help-password')
        const $newPasswordInput = document.getElementById('new-password')
        const $passwordConfirmationHelp = document.getElementById('helpConfirmPassword')
        const $passwordConfirmationInput = document.getElementById('password-confirmation')


        $newPasswordInput.addEventListener('change', (v) => {
            if (v.target.value.length < 8) {
                $newPasswordHelp.style.display = 'none'
                $newPasswordInput.classList.add('is-invalid')
                $newPasswordInput.classList.remove('is-valid')
            } else {
                $newPasswordHelp.style.display = ''
                $newPasswordInput.classList.add('is-valid')
                $newPasswordInput.classList.remove('is-invalid')

                if ($newPasswordInput.value === $passwordConfirmationInput.value) {
                    $submitButton.removeAttribute('disabled')
                }
            }
        })

        $passwordConfirmationInput.addEventListener('change', (v) => {
            if (v.target.value !== $newPasswordInput.value) {
                $passwordConfirmationHelp.style.display = 'none'
                $passwordConfirmationInput.classList.add('is-invalid')
                $passwordConfirmationInput.classList.remove('is-valid')
            } else {
                $passwordConfirmationHelp.style.display = ''
                $passwordConfirmationInput.classList.add('is-valid')
                $passwordConfirmationInput.classList.remove('is-invalid')

                if ($newPasswordInput.value === $passwordConfirmationInput.value) {
                    $submitButton.removeAttribute('disabled')
                }
            }
        })

    </script>


</body>

</html>